target/
.targets/
.bsp/

*.swo
*.swp

# sbt-slamdata common resources
/scripts/bumpDependentProject
/scripts/checkAndAutoMerge
/scripts/commonSetup
/credentials.bintray.enc
/credentials.sonatype.enc
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/pgppassphrase.sbt.enc
/scripts/publishAndTag
/pubring.pgp.enc
/scripts/readVersion
/secring.pgp.enc
gcs/src/test/resources/bad-auth-file.json
gcs/src/test/resources/precog-ci-275718-9de94866bc77.json
