language: scala
scala: 2.12.8
jdk: oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.coursier/cache

env:
  global:
    - COURSIER_PROGRESS=0
    - SBT=./sbt
    # ENCRYPTION_PASSWORD
    - secure: "caoHACBDM54QNPaPhFkbRpL8qsj01L5aNrvDY5Au9ycx6GsXjJ6PUXbp5tcjqCrVHUpQ+U4+1x+Y3tOmwV1ZLt0hNPJk0A2/xmo6b8aJLD8aXY5ObfcvUC/VI/w1lRWL7KQGqgTQCZngoV5eAQ9B4Ybnl49JcvPQsijx06KuWqYIn+E6pJni9g6b9eqYMvLAKKzGBlGgokQtnB/neoSrG/bmYhAJn0W+qaI1ApjyhwfcBZ9Ij+SsdCStzt7esndb8JpSUsWUAfZQaGg+JAWGoYOgeC5wEaC+Hz+i7pkPq/srQNqRYzs1RkhgJuJ3MJfHydlxXbfTzuvX5AcRUrplIrXnthGJKXyBOIUKU54sRpJLkdXzqJ0VZ7zqUtL6L0M4DgwrsTzExwmb6iTH5ggNXZ3Q6jTEbH6n+RmFo92aEUCd4JGRbiHXybpRperxEgwjkU60wjEWpVq4tTF/e9IKt+vBfY3whf2oHZsVZA7rxDsu8ZhN2KTNZKfU9DwgSBgaKjUyskbPOpj8V/8GJ54UQW12PkCDmT9CNYIr/LnhLm+w0KFZBJWY+pYZ3+uzTXPwxdPr+xvQrmTwAOJnYrx9CMMi+OP1WNs4RF57iwXzjK665xp54pAAUgIF30aE+qbtChTaZn/BmaVx+Bd7pWFsnyPa2m0MLLBBS2kgv7dlK9E="
    # GITHUB_TOKEN
    - secure: "o+UmjPoxzT/MFHSsnigrCELcnCfe5tjEnizIji4ca5/UdP0uZcBC5CieYx7iMFYnYmaD4ktkv4ZiGAR2io8QuxJDu7n7I15pUR3RgOqJitI70l/XcKycbBFJcxJrXBpDQoGim0gqeBVeED+IPVL1Wesz0X7TGN+MbajbakenajRSsp/DSymPWj8vcl4fnNDQjucCh8uOL+akTxB6NlmHOVPnluIhbXV/Ohy55qukduPpnlm3Xzoi583HEGb2vuRkDAMhGxBdToORIuXyk3WAdw1x0wt5c3oPyC4X6ty6MQTZxsV4gbs3ECdhtwsg3aqGLQwWx48C6nJW5qZ5AvLYZcrb5nxF+ch63Kex0JplCqvO9jtyxmwwJ64aHOUiK6Ik3Sy0KbXGceNQTvA3BA6y6iYe7wxeb5QGn3jajCALeJYAszSS4FEsVlgZwyhfK+hY0YRw3Px0CXUbMYtNKT1Vo8YL4wkhD7uHqPnN+/86Mh3GQd9sjHeu5pGC0k7lPKY6LAeUHMQHpsb3oOdX5bD6Iq4u2rYRNidf6wW+/FotFvUsRHUYgljs+ZaHfs+qujsiXnGv/wtnlb7//0c2m4pT5VtgGwgxm1Bujmf28i0O3YEI5J41ZzdWcRmMoBBxycT300VrHaTfd2kMQO5U2JTkfcB4MiTbIbMHPNMs1cDIkyA="
    # GITHUB_ACCESS_TOKEN
    - secure: "AcZdpwWb0lbKIpCU6EkvC65LG2eN085qZ8BKZDPF826DDOhf2vUNrc4L5YvAdyIKGsmuYnYmTCzeOHSyslIWcgJik95/egbnQy+P4V5BLeb59wfNCnUIFzD743rCt+KoVaZ+SOuNv4ZQLuq4fEfj5hXm8xVnZs++W/i8JLIswUI/yLj3IWBEbG/4LXYUVfmc9lmjGRG4+qMOlUHqN6+Q7vyvOFZTUmJVF5gyEB/M9JLxWjbV2KMws2/qk43q23w8sNZ8KpSnfiRy3rPqyOlKr+jdLkNDfEodWFy0krIittKHB/qBdW+yrSGQfo7BKSlWhmLayfCr0IM94qCz72C4IDieTM9vCsJDGNmSCvvrelm2/eL6MdmKLrFv5Kv7HJlKZp85FACZaP+B55XSA5d8FMVl+oGq4zSmilum8uMzDX7UjM2dmv+2zY+YaKrSmWUydVmuOTHCrLLHHZB0z/VeygJhjkWF9fvZTkwljTVuDUxPrAa6ubYZJyDfDJpumI5JUeaX9a8I+7cfT00JP3hfg6IwOQfBsObx8yj8FamBRDMVUtKMrLnO6/RCW6BqDJZsSXSJ4ff2Da9TWHqPvHiE0beAz+/OQaRA22lhTleoqQgT0LJko45ZgkRmnWwPslTztuTToaIE8Tr+HNjCuliYlO7mMKjA6ocKx1rmu/sHeoE="
    # DISCORD_WEBHOOK_TOKENS
    - secure: "a1cbMPk1l28KoX8shLiM4o5tpFA6pTL56ZJ/V2G8KiSpG8NEX/llKu6ErtNFHGRh7sDlVwx2bxIuthkWxxFxU8L7JBSUy1u+8eeQ94rfUOtOh+QT3UnCzsb8afsuvW6P8ML7cLBzlDX2srYhz0izCObF+LlQ5AwQ6PReBu9Nj9PA+/X/egqJm2fvBDTu1k1og24DHu7E4+axk3RrxTjx8foQQQ7igqg51Me1hnjl1PjbLwP5Bf4oi/g0KTMx1Wn1+0lVgYKEqeaSJrulDJ4bKkbGYxcssdqOcFz/nJQ7jYIAR5IdOoXmcQdOSemVJrGWGQmNB2E0wRs2gvYSIbEQoMRwsUM1lSqoB0AEZypK8s0qmYs8uedYTdVTsELKzROilPz72pOi0ce3lAufd0g2PDz5G2ScFX8EngLtu4qbajq73vt2qHrKH+swTGl7ZiiAdxMiRDrSWkczFLX+Ei8MPi2EyNqdsUWfiEauQ+TKGXHz173+3lLOqxFeTtL9X2YKzPrseFlNFjHTNq0TUXbnj6Niqncsi91k2UfMFyPsv1n1JH6vkFposFmhy3+CFY9qR/OKLDA6t/P1jUd29zaLIRCfP5EzJsxQTKEPjCUMx7N34iK1aGXt3X0eFidwCVG3xeJ7zEg+7dkMLfI1xG+/yLG829CckaZpkxl5RTxtB2U="

install:
  - mkdir scripts
  - $SBT transferCommonResources
  - scripts/commonSetup

script:
    - set -e

    - $SBT ++$TRAVIS_SCALA_VERSION test

    - |-
      if [ $TRAVIS_PULL_REQUEST == "false" ] && [[ "$TRAVIS_BRANCH" =~ backport/v.*|master ]]; then
        $SBT transferPublishAndTagResources;
        TRAVIS_JOB_NUMBER=1 scripts/publishAndTag 'slamdata/async-blobstore';
      fi

after_success:
  - scripts/checkAndAutoMerge
  - scripts/discordTravisPost success https://discordapp.com/api/webhooks/$DISCORD_WEBHOOK_TOKENS

after_failure:
  - scripts/discordTravisPost failure https://discordapp.com/api/webhooks/$DISCORD_WEBHOOK_TOKENS

branches:
  only:
    - master
    - /^backport.*$/

before_cache:
  - find "$HOME/.sbt/" -name '*.lock' -print0 | xargs -0 rm
  - find "$HOME/.ivy2/" -name 'ivydata-*.properties' -print0 | xargs -0 rm
